
#quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#question {
  font-size: 20px;
  margin-bottom: 20px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeIn 1s ease-in-out forwards;
}

.option:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  color: #000000; /* 通常の文字色を黒に設定 */
  animation: fadeIn 1s ease-in-out forwards;
}

#result.correct {
  color: #45a049; /* 正解のときの文字色を緑に設定 */
}

#result.incorrect {
  color: #FF0000; /* 不正解のときの文字色を赤に設定 */
}

#next-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
}

#next-button:hover {
  background-color: #2980b9;
}

#restart-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
}

#restart-button:hover {
  background-color: #2980b9;
}



body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffcc00;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

header {
  background-color: #1a1a1a;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 10px 10px 0 0;
  width: 100%;
}


a {
  display: block;
  padding: 15px;
  background-color: #1a1a1a;
  color: #ffcc00;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #333;
}

.external-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: ffcc00;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.external-link:hover {
  background-color: #333;
}
